*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}

.btn{
    color: white;
    text-decoration: none;
    background-color: teal;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    margin-top: 20px;
}

.btn:hover{
    background-color: #0f5353;
}

.holiday-heading{
    font-size: 80px;
    color: gray;
    padding-top: 50px;
}

.heading-text{
    font-size: 30px;
    color: #bfbebe;
}

/*
Landing page section
*/

.landing-page{
    background: white url("../images/vac.jpg") no-repeat scroll center;
    height: 100vh;
    background-size: cover;
    color: teal;
}

.landing-page .wrapper{
background-color: rgba(0, 0, 0, 0.5);
height: 100%;
}

.landing-page .flex-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landing-page .vacations-heading{
    font-size: 100px;
}

/* 
    Header Section
*/

.vacation-header{
    background: radial-gradient(#0f5353,teal);
    color: white;
    padding: 30px;
    text-align: center;
}

.vacation-header .heading{
    font-size: 100px;
}

/* 
    main navbar
*/

.main-nav{
    background-color: lightgray;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 10px black;
    position: sticky;
    top: 0;
}

.main-nav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    display: inline-block;
}

.main-nav a:hover{
    background-color: #0f5353;
    color: white;
    border-radius: 30px;
}

/* Holdiy section */

.holiday-section{
    padding: 100px 40px;
    text-align: center;
}


/* 
Places to visit section
*/
.place-to-visit-section{
    text-align: center;
}

.place-to-visit-section .places-div{
    margin-top: 20px;
}

.place-to-visit-section .places-div img{
    width: 400px;
    height: 600px;
}

/*
Gallery Section 
 */

.gallery-section{
    text-align: center;
    padding-top: 70px;
 }

.gallery-section .gallery-div{
    margin-top: 20px;
    padding: 20px;
    
}


.gallery-section .gallery-wrapper{
    /* border: 2px solid black; */
    width: 400px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    display: inline-block;
    margin: 20px;
}

.gallery-section .gallery-wrapper img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.gallery-section .gallery-wrapper img:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}

/* 
packages-section

*/

.packages-section {
    text-align: center;
    margin-top: 40px;
    padding-top: 30px;
}

.packages-section .package-wrapper{
    margin-top: 40px;
    padding: 30px;
}

.package-wrapper .pacakge-card{
    /* border: 2px solid black; */
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
.pacakge-card img{
     width: 100%;
     height: 200px;
     border-radius: 5px;
}

.pacakge-card .card-heading{
    font-size: 30px;
}

.pacakge-card .card-text{
    font-size: 18px;
    color: gray;
}

.pacakge-card .btn{
    border-radius: 50px;
    box-shadow: 0 0 5px gray;
    border: none;
    margin-bottom: 10px;
}
/* Footer Section */
.footer-section{
    background-color: black;
    padding: 40px;
    text-align: center;
    color: white;
}
.footer-section a{
    color: teal;
    text-decoration: none;
    font-weight: bold;
}